#title {
	font: 60px Helvetica, Arial, sans-serif;
	color: #eee;
	text-align: center;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
	margin: 40px 0 20px 0;
}

#subtitle {
	font: italic 18px Georgia, serif;
	color: #ccc;
	text-align: center;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

#slider {		
	position: relative;
	background: #fff url(../images/loading.gif) center center no-repeat;
}

.slider3d {
	width: 700px !important;
	height: 400px !important;
	margin: 30px 0px 40px -60px;
}

.slider2d {
	width: 600px;
	height: 300px;	
}

#slider2d-frame {
	width: 600px;
	height: 300px;	
	padding: 16px 76px 26px 76px;
	margin: 60px auto 40px auto;	
	position: relative;
	top: -20px;
	z-index: 10;
	background: url(../images/2dslider-frame.png) no-repeat;
}

#slider img {
	display: none;
}

a.slider-nav {	
	width: 35px;
	height: 34px;
	top: 50%;
	margin-top: -17px;		
}

.slider-nav.prev {
	background: url(../images/left-arrow.png) no-repeat;
	left: 5px;
}

.slider-nav.next {
	background: url(../images/right-arrow.png) no-repeat;
	right: 5px;
}

.slider-timer {
	width: 50px;
	height: 50px;		
	left: 50%;
	margin-left: -25px;
	top: 50%;
	margin-top: -25px;	
}

/*.slider-timer.play {
	background: url(../images/play.png) no-repeat;
}

.slider-timer.pause {
	background: url(../images/pause.png) no-repeat;
}*/

.slider3d .control-links {
	bottom: -50px;
}

.slider2d .control-links {
	bottom: -50px;
}

.control-links li {    
    margin-left: 5px;
    cursor: pointer;    
    background: url(../images/link-bg.png) no-repeat;
    width: 10px;
    height: 11px;
	text-indent: -99999px;
}

.control-links li.active {
    background: url(../images/link-active.png) no-repeat;
}

.slider-caption {
	background: #fff;
    background: rgba(255, 255, 255, 0.7);
	
	color: #000;
}

.slider-caption a {
	color: #2D6294;
}

#effects {	
	width: 400px;	
	position: relative;
	margin: 20px auto 400px auto;
	text-align: center;	
}

#effects h3 {
	font: 20px 'Josefin Sans', Helvetica, Arial, sans-serif;
	color: #222;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	margin-bottom: 10px;
}

.effectType {
	display: inline-block;
	width: 102px;
	height: 33px;
	font: bold 14px Helvetica, Arial, sans-serif;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
	text-align: center;
	text-decoration: none;
	line-height: 30px;
	margin: 30px 20px 20px 20px;
	background: url(../images/button.png) no-repeat;
	cursor: pointer;
	position: relative;
}

.effectType:active {
	top: 1px;
}

#effect3d, #effect2d {
	position: absolute;
	top: 82px;
	left: 50%;	
}

#effect3d {
	width: 330px;
	margin-left: -165px;
}

#effect2d {
	width: 150px;
	margin-left: -75px;
	display: none;
}

#no-3d {
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
	color: #333;
	display: none;
}

.effectList, #sliceList {
	float: left;
	width: 150px;
	height: 34px;
	margin-bottom: 20px;
}

#sliceList {
	margin-left: 30px;
}

.selected {
	background: #ccc url(../images/selected.jpg) repeat-x;
	font: 13px/34px 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	color: #666;
	text-shadow: 1px 1px 0 #eee;
	width: 150px;
	height: 34px;	
	margin: 20px auto 0 auto ;	
	cursor: pointer;
	position: relative;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.selected:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 5px;
	margin-top: -3px;
	border: 5px solid transparent;
	border-top: 5px solid #666;
}

.selected.active:after {
	content: '';
	margin-top: -8px;
	border: 5px solid transparent;
	border-bottom: 5px solid #666;
}

.dropDown {
	background: #222;	
	font: 14px Helvetica, Arial, sans-serif;
	color: #fff;
	position: relative;
	z-index: 10;
	display: none;
}

.dropDown li {
	height: 30px;
	line-height: 30px;
	cursor: pointer;
}

.dropDown li:hover {
	background: #292929;	
}
